<%= attachment_image_tag users,:profile_image, size:"100x100",format: 'jpg',fallback:"no_image.jpg"%>
  
  
      <%= image_tag users.get_profile_image(100,100)%>
  
  <div><%= image_tag user.get_profile_image(100,100)%></div>
  
  
  <!--画像投稿-->
<%= f.attachment_field :profile_image %>

  
              
              <li class="nav-link text-light">
                <span><i class="fa fa-users fa-w-20"></i><%= link_to " Users", users_path, class:'text-light'%></span>
              </li>
              
              <li class="nav-link text-light">
                <span><i class="fa fa-book-open fa-w-18"></i><%= link_to " Books", books_path, class:'text-light'%></span>
              </li>
              
              <li class="nav-link text-light">
                <span><i class="fa fa-sign-out-alt fa-w-16"></i><%= link_to " Log out", destroy_user_session_path, method: :delete, class:'text-light'%></span>
              </li>

              <li class="nav-link text-light">
                <span><i class="fa fa-home fa-w-18"></i><%= link_to" Home", root_path, class:'text-light'%></span>
              </li>
              <li class="nav-link text-light">
                <span><i class="fa fa-link fa-w-16"></i><%= link_to" About", about_path, class:'text-light'%></span>
              </li>
              <li class="nav-link text-light">
                <span><i class="fa fa-user-plus fa-w-20"></i><%= link_to" Sign up", new_user_registration_path, class:'text-light'%></span>
              </li>
              <li class="nav-link text-light">
                <span><i class="fa fa-sign-in-alt fa-w-16"></i><%= link_to" Log in", new_user_session_path, class:'text-light'%></span>
              </li>