<!DOCTYPE html>
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
  <head>
    <title>Bookers2App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">
            <span>Bookers</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-link text-light">
                <span><i class="fa fa-home fa-w-18"></i><%= link_to " Home", user_path(current_user), class:'text-light'%></span>
              </li>
              <li class="nav-link text-light">
                <span><i class="fa fa-users fa-w-20"></i><%= link_to " Users", users_path, class:'text-light'%></span>
              </li>
              <li class="nav-link text-light">
                <span><i class="fa fa-book-open fa-w-18"></i><%= link_to " Books", books_path, class:'text-light'%></span>
              </li>
              <li class="nav-link text-light">
                <span><i class="fa fa-sign-out-alt fa-w-16"></i><%= link_to " Log out", destroy_user_session_path, method: :delete, class:'text-light'%></span>
              </li>

            <% else %>
              <li class="nav-link text-light">
                <span><i class="fa fa-home fa-w-18"></i><%= link_to" Home", root_path, class:'text-light'%></span>
              </li>
              <li class="nav-link text-light">
                <span><i class="fa fa-link fa-w-16"></i><%= link_to" About", about_path, class:'text-light'%></span>
              </li>
              <li class="nav-link text-light">
                <span><i class="fa fa-user-plus fa-w-20"></i><%= link_to" Sign up", new_user_registration_path, class:'text-light'%></span>
              </li>
              <li class="nav-link text-light">
                <span><i class="fa fa-sign-in-alt fa-w-16"></i><%= link_to" Log in", new_user_session_path, class:'text-light'%></span>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <%= render 'layouts/flash' %>
    <%= yield %>

    <footer>
      <div class ="container mt-5">
        <div class ="row">
          <div class ="mx-auto">
            <p>Copyright Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
